<h1>{{movie.Title}}</h1>

<img src="{{movie.Poster}}" alt="{{movie.Title}}">

<span>{{movie.Year}}</span>
<br>
<span>{{movie.Rated}}</span>
<br>
<span>{{movie.Released}}</span>
<br>
<span>{{movie.Runtime}}</span>
<br>
<span>{{movie.Genre}}</span>
<br>
<span>{{movie.Director}}</span>
<br>
<span>{{movie.Writer}}</span>
<br>
<span>{{movie.Actors}}</span>
<br>
<span>{{movie.Plot}}</span>
<br>
<span>{{movie.Language}}</span>
<br>
<span>{{movie.Country}}</span>
<br>
<span>{{movie.Awards}}</span>
<br>
<span>{{movie.Poster}}</span>
<br>
<span>{{movie.Metascore}}</span>
<br>
<span>{{movie.imdbRating}}</span>
<br>
<span>{{movie.imdbVotes}}</span>
<br>
<span>{{movie.imdbID}}</span>
<br>
<span>{{movie.Type}}</span>
<br>
<span>{{movie.BoxOffice}}</span>
<br>
<span>{{movie.Production}}</span>
<br>