<p>{{ name }} is a {{ species }}</p>
{{#if isWellBehaved}}
  <span>{{ name }} is a well behaved {{ species }}</span>
{{else}}
  <span>{{ name }} is not a well behaved {{ species }}</span>
{{/if}}
{{!-- <p>{{ name }} {{#if ibsWellBehaved}}is{{else}}is not{{/if}} a well behaved {{ species }}</p> --}}